.bodyformat {
	margin: 0px 0px;
	padding : 20px 100px;
		
}

.title {
	
	width:100%;
	height:280px;
	background-image:url("../cssLR/images/brickwall.jpg");
	background-position:center center;
	background-repeat:no-repeat;
}

.arrowflowdiagrambody {
	display: inline-block;
	position: relative;
	color: white;
	padding: 30px 30px;
	width: 280px;
	text-align: center;
	margin-bottom:20px;

}
.arrowflowdiagrambody:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid;
	border-right: 170px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 170px solid transparent;
	
}



#centerarrowdiagram {
	
	width:460px;
	padding:30px;
	margin:auto;
		
}

#centerarrowdiagramAB {
	
	width:770px;
	padding:50px;
	margin:auto;
/* 	border: 1px solid black;
 */		
}

#arrowflowdiagramcontainer {
	margin:auto;
	width:340px;
	display:inline-block;
	
}

#arrowflowdiagramcontainerA{
	margin:auto;
	width:340px;
	display:inline-block;
	padding:20px;
	/* border: 1px solid black; */	
}
#arrowflowdiagramcontainerB {
	margin:auto;
	width:340px;
	display:inline-block;
	padding:20px;
	
	/* border: 1px solid black; */	
}

.flowheading {
	
	font-weight: bold;
	text-align: center;
}

.flowheading2 {
	
	font-weight: bold;
	text-align: center;
	padding-bottom:30px;
}

#time1{
	
	width:50px;
	height:500px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	border-right:1px solid black;
	vertical-align:top;
	
}

#time2{
	
	width:50px;
	height:500px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	vertical-align:top;
	
	
}

#timeText{
	
	position:relative;
	/* line-height:650px; */
	padding-top:250px;
	width:250px;
	height:100%;
	padding-left:15px;
}

.clear {
	
	clear:both;
}
#arrow0{
	background: #0000ff;
}
#arrow0:after{
	background: #4000ff;
	border-top: 20px solid #0000ff;
	
}

#arrow1{
	background: #0063D1;
}
#arrow1:after{
	background: #F4AE01;
	border-top: 20px solid #0063D1;
	
}

#arrow2 {
	background:#F4AE01;
}
#arrow2:after {
	background:#85B716;
	border-top: 20px solid #F4AE01;
	
}


#arrow3 {
	background:#85B716;
}

#arrow3:after {
	background:#FD6301;
	border-top: 20px solid #85B716;
	
}

#arrow4 {
	background: #FD6301;
}
#arrow4:after {
	background: white;
	border-top: 20px solid #FD6301;
	
}

#arrow0a{
	background: #E43137;
}
#arrow0a:after{
	background: #0063D1;
	border-top: 20px solid #E43137;
	
}

#arrow1a{
	background: #0063D1;
}
#arrow1a:after{
	background: #F4AE01;
	border-top: 20px solid #0063D1;
	
}

#arrow2a {
	background:#F4AE01;
}
#arrow2a:after {
	background:#85B716;
	border-top: 20px solid #F4AE01;
	
}


#arrow3a {
	background:#85B716;
}

#arrow3a:after {
	background:#FD6301;
	border-top: 20px solid #85B716;
	
}

#arrow4a {
	background: #FD6301;
}
#arrow4a:after {
	background: white;
	border-top: 20px solid #FD6301;
	
}

#arrow0b{
	background: #E43137;
}
#arrow0b:after{
	background: #E43137;
	border-top: 20px solid #E43137;
	
}

#arrow1b{
	background: #E43137;
}
#arrow1b:after{
	background: #F4AE01;
	border-top: 20px solid #E43137;
	
}

#arrow2b {
	background:#F4AE01;
}
#arrow2b:after {
	background:#F4AE01;
	border-top: 20px solid #F4AE01;
	
}


#arrow3b {
	background:#F4AE01;
}

#arrow3b:after {
	background:#9508B7;
	border-top: 20px solid #F4AE01;
	
}

#arrow4b {
	background: #9508B7;
}
#arrow4b:after {
	background: white;
	border-top: 20px solid #9508B7;
	
}