.bodyformat {
	margin: 0px 0px;
	padding : 20px 100px;
}

.arrowflowdiagrambody {
	display: inline-block;
	position: relative;
	color: white;
	padding: 20px 0px;
	width: 200px;
	text-align: center;
	margin-bottom:20px;
}
.arrowflowdiagrambody:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid;
	border-right: 100px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 100px solid transparent;
	
}

#parent {
	margin:auto;
	width:250px;
	align: center;
}

#red{
	background: red;
}
#red:after{
	background: green;
	border-top: 20px solid red;
	
}

#green {
	background:green;
}
#green:after {
	background:blue;
	border-top: 20px solid green;
	
}
#yellow {
	background: yellow;
}
#yellow:after {
	background: white;
	border-top: 20px solid white;
	
}

#blue {
	background:blue;
}

#blue:after {
	background:yellow;
	border-top: 20px solid blue;
	
}