#bodycontainer{
	width:100%;
	margin:auto;
	max-width:1400px;
}

.bodyformat {
	margin: 0px 0px;
	padding : 20px 100px;
		
}

.title {
	
	width:100%;
	height:280px;
	
	background-image:url("../cssLR/images/brickwall.gif");
	background-position:center top;
	background-repeat:no-repeat;
}

.equborder {
	
	padding-top:20px;
	text-align:center;
}

.arrowflowdiagrambody {
	display: inline-block;
	position: relative;
	color: white;
	padding: 30px 30px;
	width: 280px;
	text-align: center;
	margin-bottom:20px;

}
.arrowflowdiagrambody:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid;
	border-right: 170px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 170px solid transparent;
	
}



.centerarrowdiagram {
	
	width:100%;
	padding:10px;
	margin:auto;
		
}


#centerarrowdiagramAB {
	
	width:100%;
	
	margin:auto;
	margin-right:100px;
	/* border: 1px solid black; */
		
}

#twoArrows {
	
	width:780px;
	margin:auto;
}

.centerArrow {
	
	width:500px;
	margin:auto;
}

.arrowflowdiagramcontainer {
	margin:auto;
	width:340px;
	display:inline-block;
	
}

#arrowflowdiagramcontainerA{
	
	width:340px;
	display:inline-block;
	padding:20px;
	/* border: 1px solid black; */	
}
#arrowflowdiagramcontainerB {
	
	width:340px;
	display:inline-block;
	padding:20px;
	vertical-align:top;
	
	/* border: 1px solid black; */	
}

/* #arrowflowdiagramcontainerA{
	margin:auto;
	width:340px;
	display:inline-block;
	padding:20px;
	
}
#arrowflowdiagramcontainerB {
	margin:auto;
	width:340px;
	display:inline-block;
	padding:20px;
	vertical-align:top;
	
		
} */

.flowheading {
	
	font-weight: bold;
	text-align: center;
}

.flowheading2 {
	
	font-weight: bold;
	text-align: center;
	padding-bottom:30px;
}

#time1{
	
	width:50px;
	height:500px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	border-right:1px solid black;
	vertical-align:top;
	
}

#time2{
	
	width:50px;
	height:500px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	vertical-align:top;
	
	
}

#time3{
	
	width:50px;
	height:380px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	border-right:1px solid black;
	vertical-align:top;
	
}

#time4{
	
	width:50px;
	height:380px;
	border-top: 1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	vertical-align:top;
	
	
}

#timeText{
	
	position:relative;
	/* line-height:650px; */
	padding-top:250px;
	width:250px;
	height:100%;
	padding-left:15px;
}

#timeText2{
	
	position:relative;
	/* line-height:650px; */
	padding-top:180px;
	width:250px;
	height:100%;
	padding-left:15px;
}

.clear {
	
	clear:both;
}
#arrow0{
	background: #0000ff;
}
#arrow0:after{
	background: #4000ff;
	border-top: 20px solid #0000ff;
	
}

#arrow1{
	background: #2072B2;
}
#arrow1:after{
	background: #F1E70D;
	border-top: 20px solid #2072B2;
	
}

#arrow2 {
	background:#F1E70D;
}
#arrow2:after {
	background:#0A905D;
	border-top: 20px solid #F1E70D;
	
}


#arrow3 {
	background:#0A905D;
}

#arrow3:after {
	background:#F28F20;
	border-top: 20px solid #0A905D;
	
}

#arrow4 {
	background: #F28F20;
}
#arrow4:after {
	background: white;
	border-top: 20px solid #F28F20;
	
}

#arrow1c{
	background: #2072B2;
}
#arrow1c:after{
	background: #F1E70D;
	border-top: 20px solid #2072B2;
	
}

#arrow2c {
	background:#F1E70D;
}
#arrow2c:after {
	background:#F28F20;
	border-top: 20px solid #F1E70D;
	
}

#arrow3c {
	background:#F28F20;
}

#arrow3c:after {
	background: white;
	border-top: 20px solid #F28F20;
	
}

#arrow4c {
	background: #F28F20;
}
#arrow4c:after {
	background: white;
	border-top: 20px solid #F28F20;
	
}

#arrow0a{
	background: #E42426;
	
}
#arrow0a:after{
	background: #2072B2;
	border-top: 20px solid #E42426;
	
}

#arrow1a{
	background: #2072B2;
}
#arrow1a:after{
	background: #F1E70D;
	border-top: 20px solid #2072B2;
	
}

#arrow2a {
	background:#F1E70D;
}
#arrow2a:after {
	background:#0A905D;
	border-top: 20px solid #F1E70D;
	
}


#arrow3a {
	background:#0A905D;
}

#arrow3a:after {
	background:#F28F20;
	border-top: 20px solid #0A905D;
	
}

#arrow4a {
	background: #F28F20;
}
#arrow4a:after {
	background: white;
	border-top: 20px solid #F28F20;
	
}

#arrow0b{
	background: #E42426;
}
#arrow0b:after{
	background: #F1E70D;
	border-top: 20px solid #E42426;
	
}

#arrow1b {
	background:#F1E70D;
}
#arrow1b:after {
	background:#6E398D;
	border-top: 20px solid #F1E70D;
	
}
	
#arrow2b {
	background: #6E398D;
}
#arrow2b:after {
	background: white;
	border-top: 20px solid #6E398D;
	
}