.bodyformat {
	margin:0px 0px;
	padding: 10px 20px;
	
}

.arrowflowdiagrambody {
	display: inline-block;
	position: relative;
	color: white;
	padding: 30px 60px;
	width: 560px;
	text-align: center;
	margin-bottom:40px;
}
.arrowflowdiagrambody:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 40px solid;
	border-right: 340px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 340px solid transparent;
	
}

#arrowflowdiagramcontainer {
	margin:auto;
	width:680px;
	align: center;
	font-size:32px;
	
	
}

#flowheading {
	
	font-weight: bold;
	text-align: center;
}
#arrow0{
	background: #0000ff;
}
#arrow0:after{
	background: #4000ff;
	border-top: 40px solid #0000ff;
	
}
#arrow1{
	background: #4000ff;
}
#arrow1:after{
	background: #8000ff;
	border-top: 40px solid #4000ff;
	
}

#arrow2 {
	background:#8000ff;
}
#arrow2:after {
	background:#bf00ff;
	border-top: 40px solid #8000ff;
	
}


#arrow3 {
	background:#bf00ff;
}

#arrow3:after {
	background:#ff00ff;
	border-top: 40px solid #bf00ff;
	
}

#arrow4 {
	background: #ff00ff;
}
#arrow4:after {
	background: white;
	border-top: 40px solid #ff00ff;
	
}